html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#main {
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
}
#login {
    width: 100%;

}
#home {
    visibility: hidden;
}
#account {
    visibility: hidden;
}
#channel {
    visibility: hidden;
}